{{>  head }}  

{{> navbar  }}

<div class="row">
    <div class="col-8 p-5">
        <h1>Mapeo Vial</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aperiam veritatis a fugit nulla quae tenetur, voluptatibus nam, facere sapiente maiores perferendis voluptas nostrum sint nisi fuga quisquam. Officiis, rem.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/logo.png" alt="logo" class="mg-thumbnail">


    </div>
</div>

{{> footer  }}